main {
    max-width: 1605px;
}


.header {
    display: flex;
}

.header-enter-window {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: auto;
    height: 55px;
    padding-inline: 50px;
    padding-top: 15px;
}

.h1-enter-window {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #171F46;
    margin-left: 10px;
    
}

.header-logo {
    width: 155px;
    height: 32px;
    display: inline-flex;
    margin-right: 848px;

}

.city-block {
    margin-right: 5px;
    width: 156px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.city-choose {
    width: 136px;
    height: 44px;
    background: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    padding-left: 14px;
    
}

.login-form {
    width: 156px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    padding-left: 14px;
    display: flex;
    align-items: center;
}

.header-blocks {
    display: flex;
}

.icon-login {
    width: 18px;
    height: 18px;
}

.login-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1D2939;
    padding-left:8px;
}


.img-line {
    width: 100%;
}

.city-and-filter {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.accaunt-block {
    width: 127px;
    padding-left: 14px;
    margin-top: 49px;
    margin-left: 50px;
    margin-right: 131px;
}

.chosen-accaunt {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    width: 127px;
    height: 38px;
}

.accaunt-filter {
    width: auto;
    height: 43.18px;
    border-radius: 8px;
    display: flex;
}

#accaunt-filter {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 890px
}

.buttoms-menu {
    width: 233px;
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
}

.but {
    width: 112px;
    height: 20px;
    border: none;
    background: none;
    color: #667085;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}


.but-active {
    width: 112px;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #0F6BFF;
    text-align: center;
    border: 1px solid #D0D5DD;
}


.city-button {
    width: 93px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #667085;
    border: none;
    background: none;
    text-align: center;
}
.users-button {
    width: 93px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #667085;
    border: none;
    background: none;
    text-align: center;
}

.sarch-and-add {
    width: 409px;
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: -32px;
}

.lead-search {
    display: block;
    padding-left: 20px;
    padding-top: 20px;
}


.search-form {
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: #667085;
    background-image: url('images/Icon (1).png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 14px;
    margin-top: 6px;
}

.lead-form {
    width: 291px;
    height: 44px;
    padding-left: 37px;
}


input {
    padding: 1px 2px; 
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 30px;

}
.add-new-accaunt {
margin-left: 24px;
}

.add-new-accaunt-button {
    width: 209px;
    height: 44px;
    background: #468DFF;
    border: 1px solid #468DFF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}


.menu-select {
    width: 234px;
    margin-top: 30px;
    display: block;
    margin-right: 129px;
}

.menu {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #667085;
    position: absolute;
    margin-left: 62px;
}


li {
    list-style-type: none;

   }

   .direction:hover {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #0F6BFF;
    background: #F5FAFF;
    border-radius: 6px;
    width: 129px;
    height: 36px;
    display: flex;
    align-items: center;
    
   }

   .direction {
    margin-bottom: 13px;
    padding-left: 12px;
    border: none;
    background: none;
    color: #667085;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    display: flex;
    border-radius: 6px;
    align-items: center;
}

   .active-direction {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #0F6BFF;
    background: #F5FAFF;
    border-radius: 6px;
    width: 129px;
    height: 36px;
    display: flex;
    align-items: center;
    border: none;
    margin-bottom: 13px;
    padding-left: 12px;
   }



.exit {
    margin-top: 68px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #F28386;
    height: 36px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.exit:hover {
  color:#B42318;
  background: none;
}


.container-number {
    display: inline-block;
    position: relative;
  }
  
  .span {
    display: inline-block;
    background:#F2F4F7;
    color: #344054;
    text-align: center;
    border-radius: 39%;
    padding: 37% 0;
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
    margin-top: 10px;
    margin-left: 8px;
  }
  
  .text {
    position: relative;
    top: -2.5px;
    padding: 0em 0.65em;
    left: 8px;
  }
  
  .main-content-page {
    display: inline-block;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
  

    .table-screen {
        margin-left: 324px;
        width: 1064px;
        display: flex;
    }

      .main-table {
        width: auto;
        flex: 1;
        display: grid;
        border-collapse: collapse;
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;
        grid-template-columns: 
        minmax(296px, 296px)
        minmax(680px, 680px)
        minmax(85px, 85px);
        border-radius: 12px;
        box-shadow: 0px 20px 24px -4px rgb(16 24 40 / 10%), inset 1px 3px 14px 0px rgb(16 24 40 / 4%)
      }
      
::-webkit-scrollbar {
    display: none;
}

      .main-table-head,
      .main-table-body,
      tr {
        display: contents;
      }


      
      .table-header,
      .table-rows{
        padding: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }



      .table-header {
        top: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        position: relative;
        color: #667085;
        text-align: left;
      }
      
      .table-header:last-child {
        border: 0;
      }
      
      .resize-handle {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: black;
        opacity: 0;
        width: 3px;
        cursor: col-resize;
      }
      
      .resize-handle:hover,

      .header--being-resized .resize-handle {
        opacity: 0.5;
      }
      
      .table-header:hover .resize-handle {
        opacity: 0.3;
      }
      
      .table-rows {
        padding-top: 0px;
        padding-bottom: 19px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #667085;
        display: flex;
        align-items: center;
        margin-top: 13px;
      }

.table-color {
    background-color: #101828;
}

    
.id-personal {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #667085;

}

.trash-icon {
    filter: grayscale(100%);
}
       .trash-icon:hover {
       filter: none;
    }

    .pen-icon {
        margin-left:28px ;
        filter: brightness(1.3) contrast(50%);
    }

    .pen-icon:hover {
        filter: none;
    }

    .settings-icon {
        filter: grayscale(100%);
    }
    .settings-icon:hover {
        filter: none;
    }

.fio {
    color: #101828;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.city-amount {
    display: inline-flex;
    gap: 10px 10px;
    flex-wrap: wrap;
}

.city-person {
    width: auto;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #344054;
}

.city-border {
    border-radius: 16px;
    background: #F2F4F7;
    background-size: 6px;
    display: inline;
    white-space: pre-wrap;
    padding: 2px 9px;
}

.text-line {
    text-decoration: underline #667085;
}

.footer {
    margin-top: 65px;
}

.number-leads {
    margin-left: 271px;
    display: inline-flex;
    width: 370px;
    height: 49px;
    justify-content: space-around;
    align-items: center;
}

    .text-of-number {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #667085;
    }

    .amount-of-number {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #667085;
        background: none;
        list-style: none;
        border: none;
        width: 40px
    }

    .choosen-number {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px; 
        color: #0F6BFF;
        background-color:#F5FBFF;
        border-radius: 8px;
        width: 40px;
        height: 40px;
    }

 
    .number-of-page {
        display: inline-flex;
        width: 592px;
        height: 49px;
        justify-content: space-around;
        margin-left: 118px; 
        align-items: center;
        position: absolute;
    }

    .page-text-main {
        display:inline-flex;
        width: 121px;
        height: 49px;
        justify-content: space-between;
        align-items: center;
    }

    .page-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #667085;
        background: none;
        list-style: none;
        border: none;
    }

    .page-number {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #667085;
        background: none;
        list-style: none;
        border: none;
        width: 40px
    }

    .choosen-page {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #0F6BFF;
        width: 40px;
        height: 40px;
        background: #F5FBFF;
        border-radius: 8px;
        border: none;
    }

.archive-dedicated {
     display: none;
    }



.archive-text {
    margin-left: 20px;
}


.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: center;
    visibility:hidden ;
    width: 0px;
    margin-right: -121px;
}

.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 400px;
    height: 220px;
    background: #FFFFFF;
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1), 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
    border-radius: 12px;
    margin-left: 520px;
    margin-top: 319px;
    position: absolute;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}

}

.popup-title {
    margin-top: 24px;

}

.popup-text {
    color: #101828;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-inline: 99px;
}


.aletr-img {
    margin-inline: 174px;

}

.popup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-inline: 24px;
}

.popup-cansel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 8px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: #D0D5DD;
    width: 170px;
    height: 44px;
    color: #344054;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.popup-archive {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #F28386;
    border: 1px solid #F28386;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    width: 170px;
    height: 44px;
}

.popup-cansel:hover {
    background: #F9F9F9;

}

.popup-archive:hover {
    background: #C72323;
}


.popup-set {
    visibility: hidden;
    cursor: pointer;
    display: none;
    user-select: none;
    width: 0px;
    margin-left: 520px;
    margin-top: -664px;
    margin-right: -121px;
}

.popup-set-fio {
    visibility: hidden;
    cursor: pointer;
    display: none;
    user-select: none;
    width: 0px;
    margin-left: 520px;
    margin-top: -664px;
    margin-right: -121px;
}

.show-popup-set {
    visibility: unset;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 608px;
    height: 391px;
    display: block;
    align-items: center;
    padding: 24px;
    gap: 32px;
    background: #FFFFFF;
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1), 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
    border-radius: 12px;
    margin-left: 520px;
    margin-top: 295px;
    position: absolute;
    padding: 24px; 
}

.show-popup-set-fio {
    visibility: unset;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 608px;
    height: 391px;
    display: block;
    align-items: center;
    padding: 24px;
    gap: 32px;
    background: #FFFFFF;
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1), 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
    border-radius: 12px;
    margin-left: 520px;
    margin-top: 340px;
    position: absolute;
    padding: 24px; 
}

.popup-set-text {
    display: block;
}

.popup-set-title {
    width: 152px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
}

.popup-set-subtitle {
    width: 250px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #667085;
    margin-top: 8px;
}

.city-blocks {
    display: inline-flex;
    gap: 10px 10px;
    flex-wrap: wrap;
    margin-top: 32px;
}

.city-border-set {
    border-radius: 16px;
    background: #F2F4F7;
    background-size: 6px;
    display: inherit;
    white-space: pre-wrap;
    padding: 2px 9px;
    width: max-content;
}


.img-cross {
    margin-left: 7px;
}

.add-city {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
    margin-top: 32px;
}

.add-city-input {
    width: 560px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgb(16 24 40 / 5%);
    border-radius: 8px;
    color: #667085;
    background-image: url(images/arrowdown.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 540px;
    margin-top: 6px;
}

.arrow-img {
    margin-left: 3px;
}

.popup-buttons-set-div {
    display: flex;
    margin-top: 32px;
    justify-content:space-between;
}
.button-save {
    width: 284px;
    height: 44px;
    background: #468DFF;
    border: 1px solid #468DFF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    margin-right: 13px;
    
}
.button-save:hover {
    background: #0F6BFF;
}

.popup-cansel-set{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 8px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: #D0D5DD;
    width: 284px;
    height: 44px;
    color: #344054;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.popup-cansel-set:hover {
    background: #F9F9F9;
}

a {
    text-decoration: none;
    color: unset;
}

.pen-icon-table2 {
    margin-left:28px ;
    filter: brightness(1.3) contrast(50%);
}

.pen-icon-table2:hover {
    filter: none;
}

.popup-set-city {
    visibility: hidden;
    cursor: pointer;
    display: none;
    user-select: none;
    width: 0px;
    margin-left: 520px;
    margin-top: -664px;
    margin-right: -121px;
}

.show-popup-set-city {
    visibility: unset;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 608px;
    height: 262px;
    display: block;
    align-items: center;
    padding: 24px;
    gap: 32px;
    background: #FFFFFF;
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1), 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
    border-radius: 12px;
    margin-left: 520px;
    margin-top: 340px;
    position: absolute;
    padding: 24px; 
}

#table-screen-city {
    display: none;
}

#table-screen-users {
    display: none;
}


.popup-cansel-city{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 8px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: #D0D5DD;
    width: 284px;
    height: 44px;
    color: #344054;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.popup-cansel-city:hover {
    background: #F9F9F9;
}

.main-table-users {
    width: auto;
    flex: 1;
    display: grid;
    border-collapse: collapse;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    grid-template-columns: 
    minmax(290px, 290px)
    minmax(300px, 300px)
    minmax(389px, 389px)
    minmax(85px, 85px);
    border-radius: 12px;
        box-shadow: 0px 20px 24px -4px rgb(16 24 40 / 10%), inset 1px 3px 14px 0px rgb(16 24 40 / 4%)
  }

  .popup-users {
    visibility: hidden;
    cursor: pointer;
    display: none;
    user-select: none;
    width: 0px;
    margin-left: 520px;
    margin-top: -664px;
    margin-right: -121px;
}

.show-popup-users {
    visibility: unset;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 640px;
    height: 446px;
    display: block;
    align-items: center;
    padding: 24px;
    gap: 32px;
    background: #FFFFFF;
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1), 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
    border-radius: 12px;
    margin-left: 520px;
    margin-top: 340px;
    position: absolute;
    padding: 24px; 
}

.popup-cansel-users{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 8px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: #D0D5DD;
    width: 284px;
    height: 44px;
    color: #344054;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.popup-cansel-users:hover {
    background: #F9F9F9;
}

.pen-icon-users {
    margin-left:28px ;
    filter: brightness(1.3) contrast(50%);
}

.pen-icon-users:hover {
    filter: none;
}

.popup-set-title-users {
    width: 152px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
    margin-top: 32px;
}

.popup-set-subtitle-users {
    width: 300px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #667085;
    margin-top: 8px;
}

#table-screen-notif {
    display: none;
}

#notif-view-header {
    display: none;
}

.city-border-green {
    border-radius: 16px;
    background: #ECFDF3;
    background-size: 6px;
    display: flex;
    white-space: pre-wrap;
    padding: 2px 9px;
    width: max-content;
    justify-content: center;
    align-items: center;
}

.city-border-red {
    border-radius: 16px;
    background: #FEF3F2;
    background-size: 6px;
    display: flex;
    white-space: pre-wrap;
    padding: 2px 9px;
    width: max-content;
    justify-content: center;
    align-items: center;
}

.status-connection-green {
    width: auto;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color:#027A48;
    margin-left: 7px;
}

.status-connection-red {
    width: auto;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color:#B42318;
    margin-left: 7px;
}

.img-dot {
    margin-left: 2px;
    padding-bottom: 2px;
}

.sarch-and-add-notif {
    width: 338px;
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 483px;
    margin-top: -32px;
}

.trash-icon-users {
    filter: grayscale(100%);
}
.trash-icon-users:hover {
       filter: none;
}

.popup-text-delete {
    color: #101828;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-left: 80px;
}

.popup-notif {
    visibility: hidden;
    cursor: pointer;
    display: none;
    user-select: none;
    width: 0px;
    margin-left: 520px;
    margin-top: -664px;
    margin-right: -121px;
}

.show-popup-notif {
    visibility: unset;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 640px;
    height: 527px;
    display: block;
    align-items: center;
    padding: 24px;
    gap: 32px;
    background: #FFFFFF;
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1), 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
    border-radius: 12px;
    margin-left: 520px;
    margin-top: 237px;
    position: absolute;
    padding: 24px; 
}

.add-bot-input {
    width: 178.67px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    background-image:url('images/copy.png') ;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 171px;
}

.bot-connection {
    display: flex;
    justify-content: space-between;

}

.popup-set-title-notif {
    width: 152px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
} 

.popup-set-subtitle-notif {
    width: 560px;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #667085;
    margin-top: 44px;
}

.api-key-inputs {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;

}

.api-key-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}

.api-input {
    width: 264px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin-top: 5px;
}

.pen-icon-notif {
    margin-left:28px ;
    filter: brightness(1.3) contrast(50%);
}

.pen-icon-notif:hover {
    filter: none;
}

#table-screen-clock {
    display: none;
}

#clock-view-header {
    display: none;
}

.sarch-and-add-clock {
    width: 52px;
    display: inline-flex;
    justify-content: end;
    align-items: baseline;
    margin-left: 550px;
    margin-top: -32px;
}

.lead-search-clock {
    display: block;
    padding-left: 253px;
    padding-top: 20px;
}

.popup-set-clock {
    visibility: hidden;
    cursor: pointer;
    display: none;
    user-select: none;
    width: 0px;
    margin-left: 520px;
    margin-top: -664px;
    margin-right: -121px;
}

.show-popup-set-clock {
    visibility: unset;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 608px;
    height: 262px;
    display: block;
    align-items: center;
    padding: 24px;
    gap: 32px;
    background: #FFFFFF;
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1), 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
    border-radius: 12px;
    margin-left: 520px;
    margin-top: 340px;
    position: absolute;
    padding: 24px; 
}

.popup-cansel-clock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 8px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: #D0D5DD;
    width: 284px;
    height: 44px;
    color: #344054;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.popup-cansel-clock:hover {
    background: #F9F9F9;
}

#history-view-header {
    display: none;
}

.history {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.chosen-city-block {
    width: 127px;
    padding-left: 14px;
    margin-top: 49px;
    margin-left: 50px;
    margin-right: 131px;
}

.chosen-city {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    color: #101828;
    width: 127px;
    height: 38px;
}

.lead-filter-history {
    width: auto;
    height: 110.18px;
    background: #F9FBFB;
    border-radius: 8px;
    display: flex;
}

#lead-filter-history {
    display: flex;
}

.lead-search-history {
    display: block;
    padding-left: 20px;
    padding-top: 20px;
}

.search-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}

.search-form {
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: #667085;
    background-image: url('images/Icon (1).png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 14px;
    margin-top: 6px;
}

.lead-form-history {
    width: 197px;
    height: 44px;
    padding-left: 37px;
}


.status-filter {
    display: block;
    padding-left: 20px;
    padding-top: 20px;
}

.status-block {
    margin-top: 6px;
    width: 178px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgb(16 24 40 / 5%);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.status-choose {
    width: 178px;
    height: 46px;
    border: none;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    padding-left: 14px;
}

.source-filter {
    display: block;
    padding-left: 20px;
    padding-top: 20px;
}

.source-block {
    margin-top: 6px;
    width: 158px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgb(16 24 40 / 5%);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.source-choose {
    width: 158px;
    height: 46px;
    border: none;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    padding-left: 14px;
}

.datapicker-calendar {
    display: block;
    padding-left: 20px;
    padding-top: 20px;
}

.caledar-form {
    width: 202px;
    height: 26px;
    family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    background-image: url('images/Icon 2.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 14px;
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    gap: 8px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding-left: 40px;
}


.reset-button-history {
    margin-top: 45px;
    margin-left: 15px;
}
.reset-his {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1D2939;
    width: 96px;
    height: 49px;
    opacity: 0.4;
    border: 1px solid #D0D5DD;
    filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
    border-radius: 8px;
    margin-right: 31px;
}

.reset-his:hover {
    background: #F9F9F9;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

#table-screen-history {
    display: none;
}

.main-table-history {
    width: auto;
    flex: 1;
    display: grid;
    border-collapse: collapse;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    grid-template-columns: minmax(304px, 304px) minmax(179px, 180px) minmax(252px, 230px) minmax(327px, 327px);

    border-radius: 12px;
        box-shadow: 0px 20px 24px -4px rgb(16 24 40 / 10%), inset 1px 3px 14px 0px rgb(16 24 40 / 4%)
  }
  * {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
.wrapper {
	position: relative;
	min-height: 100%;
}
.content {
	padding-bottom: 90px;
}
.footer {
	position: fixed;
	left: 0;
	bottom: -29px;
	width: 100%;
	height: 80px;
    background: white;
}