main {
    max-width: 1605px;
}
.header {
    display: flex;
}

.header-enter-window {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: auto;
    height: 55px;
    padding-inline: 50px;
    padding-top: 15px;
}

.h1-enter-window {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #171F46;
    margin-left: 10px;
    
}

.header-logo {
    width: 155px;
    height: 32px;
    display: inline-flex;
    margin-right: 848px;

}

.city-block {
    margin-right: 5px;
    width: 156px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.city-choose {
    width: 136px;
    height: 44px;
    background: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    padding-left: 14px;
    
}

.login-form {
    width: 156px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    padding-left: 14px;
    display: flex;
    align-items: center;
}

.header-blocks {
    display: flex;
}

.icon-login {
    width: 18px;
    height: 18px;
}

.login-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1D2939;
    padding-left:8px;
}

.img-line {
    width: 100%;
}

.city-and-filter {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.chosen-city-block {
    width: 127px;
    padding-left: 14px;
    margin-top: 49px;
    margin-left: 50px;
    margin-right: 131px;
}

.chosen-city {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    color: #101828;
    width: 127px;
    height: 38px;
}

.lead-filter {
    width: auto;
    height: 110.18px;
    background: #F9FBFB;
    border-radius: 8px;
    display: flex;
}

#lead-filter {
    display: flex;
}

.lead-search {
    display: block;
    padding-left: 20px;
    padding-top: 20px;
}

.search-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}

.search-form {
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: #667085;
    background-image: url('images/Icon (1).png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 14px;
    margin-top: 6px;
}

.lead-form {
    width: 197px;
    height: 44px;
    padding-left: 37px;
}

input {
    padding: 1px 2px; 
    
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 30px;

}

.status-filter {
    display: block;
    padding-left: 20px;
    padding-top: 20px;
}

.status-block {
    margin-top: 6px;
    width: 178px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgb(16 24 40 / 5%);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.status-choose {
    width: 170px;
    height: 46px;
    border: none;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    padding-left: 14px;
}

.source-filter {
    display: block;
    padding-left: 20px;
    padding-top: 20px;
}

.source-block {
    margin-top: 6px;
    width: 158px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgb(16 24 40 / 5%);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.source-choose {
    width: 138px;
    height: 46px;
    border: none;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    padding-left: 14px;
}

.datapicker-calendar {
    display: block;
    padding-left: 20px;
    padding-top: 20px;
}

.caledar-form {
    width: 202px;
    height: 26px;
    family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    background-image: url('images/Icon 2.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 14px;
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    gap: 8px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding-left: 40px;
}

.reset-button {
    margin-top: 45px;
    margin-left: 15px;
}
.reset {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1D2939;
    width: 96px;
    height: 49px;
    opacity: 0.4;
    border: 1px solid #D0D5DD;
    filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
    border-radius: 8px;
    margin-right: 31px;
}

.reset:hover {
    background: #F9F9F9;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.menu-select {
    width: 234px;
    margin-top: 102px;
    display: block;
    margin-right: 129px;
}

.menu {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #667085;
    position: absolute;
}


li {
    list-style-type: none;
   }

   .direction:hover {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #0F6BFF;
    background: #F5FAFF;
    border-radius: 6px;
    width: 100%;
    height: 36px;
    display: inline-flex;
    align-items: center;
    
   }

   .active-direction {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #0F6BFF;
    background: #F5FAFF;
    border-radius: 6px;
    width: 100%;
    height: 36px;
    display: inline-flex;
    align-items: center;
    border: none;
    margin-bottom: 13px;
    padding-left: 12px;
   }


.direction {
    margin-bottom: 13px;
    padding-left: 12px;
    border: none;
    background: none;
    color: #667085;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    display: flex;
}


.direction-rent {
    margin-bottom: 13px;
    padding-left: 45px;
    border: none;
    background: none;
    color: #667085;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
}


.direction-rent:hover {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: #0F6BFF;
    align-items: center; 
    border: none;
    background: none;
}

.direction-rent-active {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: #0F6BFF;
    align-items: center; 
    border: none;
    background: none;
    align-items: center;
    padding-left: 45px;
    height: 36px;
    margin-bottom: 13px;
}

.custom-button {
    width: 177px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    background-color: white;
    color: #CDCDCD;
    border: none;
    margin-bottom: 10px;
}

.custom-button:hover {
    border: 0.3px dashed;
    width: 177px;
    height: 28px;
    border-radius: 8px;
}

.ipoteka {
    margin-top: 19px;
}


.container-number {
    display: inline-block;
    position: relative;
  }
  
  .span {
    display: inline-block;
    background:#F2F4F7;
    color: #344054;
    text-align: center;
    border-radius: 39%;
    padding: 37% 0;
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
    margin-top: 10px;
    margin-left: 8px;
  }
  
  .text {
    position: relative;
    top: -2.5px;
    padding: 0em 0.65em;
    left: 8px;
  }
  
  .main-content-page {
    display: inline-block;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .first-checkbox {
    display: flex;
    }
    .first-checkbox {
        display: flex;
        justify-content: center;
    }
    
    
    .label {
        cursor: poiner;
      }
      .checkbox {
        display: none;
      }
      .fake {
        display: inline-flex;
        width: 18px;
        height: 18px;
        background: #F9F5FF;;
        color:#0F6BFF;
        justify-content: center;
        border: 1px solid #D0D5DD;
        border-radius: 4px;
      }

      .fake::before {
        content: "\2714";
        opacity: 0;
        transition: 0.2s;
        display: inline-flex;
        width: 18px;
        height: 18px;
        background: #F9F5FF;;
        color:#0F6BFF;
        justify-content: center;
        border: 1px solid #0F6BFF;
        border-radius: 4px;
      }

      .checkbox:checked + .fake::before {
        opacity: 1;
      }
      .chek {
        display: inline-flex;
        width: 18px;
        height: 18px;
        background: #F9F5FF;;
        color:#0F6BFF;
        justify-content: center;
        border: 1px solid #D0D5DD;
        border-radius: 4px;
      }
      .chek::before {
        content: "\2714";
        opacity: 0;
        transition: 0.2s;
        display: inline-flex;
        width: 18px;
        height: 18px;
        background: #F9F5FF;;
        color:#0F6BFF;
        justify-content: center;
        border: 1px solid #0F6BFF;
        border-radius: 4px;
      }

      .checkbox:checked + .chek::before {
        opacity: 1;
      }
    .table-screen {
        margin-left: 324px;
        width: 1064px;
        display: flex;
    }

      .main-table {
        width: auto;
        flex: 1;
        display: grid;
        border-collapse: collapse;
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;
        grid-template-columns: 
        minmax(47px, 47px)
        minmax(165px, 165px)
        minmax(146px, 150px)
        minmax(87px, 111px)
        minmax(121px, 121px)
        minmax(135px, 150px)
        minmax(109px, 150px)
        minmax(137px, 115px)
        minmax(112px, 150px)
        minmax(121px, 121px)
        minmax(150px, 150px)
        minmax(150px, 150px)
        minmax(138px, 138px)
        minmax(150px, 150px)
        minmax(140px, 111px)
        minmax(146px, 121px)
        minmax(172px, 150px)
        minmax(150px, 150px)
        minmax(168px, 168px)
        minmax(168px, 168px)
      }
      
::-webkit-scrollbar {
    display: none;
}

      .main-table-head,
      .main-table-body,
      .main-table-tr {
        display: contents;
      }
      
      .table-header,
      .table-rows{
        padding: 9px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      
      .table-header {
        top: 0;
        background: #F9FAFB;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        position: relative;
        color: #667085;
        text-align: left;
      }
      
      .table-header:last-child {
        border: 0;
      }
      
      .resize-handle {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: black;
        opacity: 0;
        width: 3px;
        cursor: col-resize;
      }
      
      .resize-handle:hover,

      .header--being-resized .resize-handle {
        opacity: 0.5;
      }
      
      .table-header:hover .resize-handle {
        opacity: 0.3;
      }
      
      .table-rows {
        padding-top: 0px;
        padding-bottom: 19px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #667085;
        display: flex;
        align-items: center;
      }
    
      .trash-icon {
        filter: grayscale(100%);
    }
       .trash-icon:hover {
       filter: none;
    }

    .settings-icon {
        filter: grayscale(100%);
    }
    .settings-icon:hover {
        filter: none;
    }

      .fio {
        color: #101828;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
      }

.text-line {
    text-decoration: underline #667085;
}

.not-answer {
    color: #B54708;
    margin-left: -2px;
}

.not-answer-border {
    border-radius: 16px;
    background:#FFFAEB;
    background-size: 6px;
    display: inline;
    white-space: pre-wrap;
    padding: 2px 12px;  
}

.otkaz {
    color: #B42318;
    margin-left: -2px;
}

.otkaz-border {
    border-radius: 16px;
    background:#FEF3F2;
    background-size: 6px;
    display: inline;
    white-space: pre-wrap;
    padding: 2px 12px;   
}

.potrebnost-border {
    border-radius: 16px;
    background: #ECFDF3;
    background-size: 6px;
    display: inline;
    white-space: pre-wrap;
    padding: 2px 12px;
}

.potrebnost {
    color: #027A48;
    margin-left: -2px;
}




.settings-table {
    margin-top: -1.8px;
    margin-left: -10px;
    height: 3px;
}


.fixed-side {
    line-height: 6.5px;
}
    .setting-rows {
        padding-top: 17px;
        padding-bottom: 21px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #667085;
        display: flex;
        align-items: center;
        justify-content: center;
}

.person {
    display: inline-flex;
    align-items: center;
}

.person-icon {
    width: 35%;
    height: 95%;
}

.person-text {
    margin-left: 10px;
}

.footer {
    margin-top: 105px;
}

.number-leads {
    margin-left: 271px;
    display: inline-flex;
    width: 370px;
    height: 49px;
    justify-content: space-around;
    align-items: center;
}

    .text-of-number {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #667085;
    }

    .amount-of-number {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #667085;
        background: none;
        list-style: none;
        border: none;
    }

    .choosen-number {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px; 
        color: #0F6BFF;
        background-color:#F5FBFF;
        border-radius: 8px;
        width: 40px;
        height: 40px;
    }

 
    .number-of-page {
        display: inline-flex;
        width: 592px;
        height: 49px;
        justify-content: space-around;
        margin-left: 118px; 
        align-items: center;
        position: absolute;
    }

    .page-text-main {
        display:inline-flex;
        width: 121px;
        height: 49px;
        justify-content: space-between;
        align-items: center;
    }

    .page-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #667085;
        background: none;
        list-style: none;
        border: none;
    }

    .page-number {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #667085;
        background: none;
        list-style: none;
        border: none;
    }

    .choosen-page {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #0F6BFF;
        width: 40px;
        height: 40px;
        background: #F5FBFF;
        border-radius: 8px;
        border: none;
    }

    .archive-dedicated {
     display: none;
    }

.active {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #667085;
    position: absolute;
    margin-left: 318px;
    margin-top: 40px;
    width: 240px;
    display: block;
    justify-content: space-between;
}

.archive-text {
    margin-left: 20px;
}

.popup-button {
    text-decoration: none;
    border: none;
    background-color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #667085;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: center;
    visibility:hidden ;
    width: 0px;
    margin-right: -121px;
}

.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 400px;
    height: 220px;
    background: #FFFFFF;
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1), 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
    border-radius: 12px;
    margin-left: 520px;
    margin-top: 502px;
    position: absolute;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}

}

.popup-title {
    margin-top: 24px;

}

.popup-text {
    color: #101828;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-inline: 79px;
}


.aletr-img {
    margin-inline: 174px;

}

.popup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-inline: 24px;
}

.popup-cansel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 8px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: #D0D5DD;
    width: 170px;
    height: 44px;
    color: #344054;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.popup-archive {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #F28386;
    border: 1px solid #F28386;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    width: 170px;
    height: 44px;
}

.popup-cansel:hover {
    background: #F9F9F9;

}

.popup-archive:hover {
    background: #C72323;
}

.plane {
    margin-left: 100px;
    display: none;
}

.plane-active {
    margin-left: 20px;
    display: unset;

}

.container-number-hide {
    display: none;
}

.send-notification {
    display: none;
}

.popupNotif {
    height: 446px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 32px;
    background: #FFFFFF;
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1), 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
    border-radius: 12px;
    margin-left: 520px;
    margin-top: -896px;
    position: absolute;
    visibility: hidden;
}

.show-popup-add-person {
    visibility: unset;
}

.popup-notif-title {
    width: 352px;
    height: 7px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
}

.popup-notif-subtitle {
    width: 352px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #667085;
}

.person-to-send {
    display: inline-flex;
    width: 352px;
    height: 20px;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px
}

.person-account {
    display: inline-block;
}

.name-surname {
    width: 200px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}

.telegram-id {
    width: 167px;
    height: 20px; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px; 
    color: #667085;
}

.notif-status {
    width: 78px;
    height: 20px;
    border: none;
    background: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #B42318;
}

.add-person {
    width: 352px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
    text-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px #F4EBFF;
}
.person-block {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    gap: 8px;
    width: 352px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #468DFF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #EBF2FF;
    border-radius: 8px;
}

.person-choose {
    border: none;
}