.header {
    display: flex;
}

.header-enter-window {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 1440px;
    height: 55px;
    padding-inline: 50px;
    padding-top: 15px;
}

.h1-enter-window {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #171F46;
    margin-left: 10px;
    
}

.header-logo {
    width: 155px;
    height: 32px;
    display: inline-flex;
}

.city-block {
    margin-right: 5px;
    width: 156px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.city-choose {
    width: 136px;
    height: 44px;
    background: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    padding-left: 14px;
}

.login-form {
    width: 156px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    padding-left: 14px;
    display: flex;
    align-items: center;
}

.header-blocks {
    display: flex;
}

.icon-login {
    width: 18px;
    height: 18px;
}

.login-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1D2939;
    padding-left:8px;
}

.img-line {
    width: 100%;
}

.city-and-filter {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.chosen-city-block {
    width: 127px;
    padding-left: 14px;
    margin-top: 49px;
    margin-left: 50px;
}

.chosen-city {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    color: #101828;
    width: 127px;
    height: 38px;
}

.lead-filter {
    width: 1040px;
    height: 110.18px;
    background: #F9FBFB;
    border-radius: 8px;
    display: flex;
    margin-right: 50px;
}

#lead-filter {
    display: flex;
}

.lead-search {
    display: block;
    padding-left: 20px;
    padding-top: 20px;
}

.search-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}

.search-form {
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: #667085;
    background-image: url('images/Icon (1).png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 14px;
    margin-top: 6px;
}

.lead-form {
    width: 197px;
    height: 44px;
    padding-left: 37px;
}

input {
    padding: 1px 2px; 
    
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 30px;

}

.status-filter {
    display: block;
    padding-left: 20px;
    padding-top: 20px;
}

.status-block {
    margin-top: 6px;
    width: 178px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgb(16 24 40 / 5%);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.status-choose {
    width: 158px;
    height: 46px;
    border: none;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    padding-left: 14px;
}

.source-filter {
    display: block;
    padding-left: 20px;
    padding-top: 20px;
}

.source-block {
    margin-top: 6px;
    width: 158px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgb(16 24 40 / 5%);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.source-choose {
    width: 138px;
    height: 46px;
    border: none;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    padding-left: 14px;
}

.datapicker-calendar {
    display: block;
    padding-left: 20px;
    padding-top: 20px;
}

.caledar-form {
    width: 202px;
    height: 26px;
    family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    background-image: url('images/Icon 2.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 14px;
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    gap: 8px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding-left: 40px;
}

.reset-button {
    margin-top: 45px;
    margin-left: 15px;
}
.reset {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1D2939;
    width: 96px;
    height: 49px;
    opacity: 0.4;
    border: 1px solid #D0D5DD;
    filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
    border-radius: 8px;
}

.reset:hover {
    background: #F9F9F9;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}